In [23]:
import pandas as pd
import numpy as np

In [14]:
### Loading the data
df = pd.read_csv("C:/Users/andre/Documents/Analysis_Projects/FinalProject/owid-covid-data.csv")
df.head()

### We also want to make sure we fix the date column.
df["date"] = pd.to_datetime(df["date"])

df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [24]:
### We noticed that there are some rows where the continent and the location are the same which deters us from
### analyzing the correct data. ISO_codes with OWID abbreviations have the data of the entire continent so we cannot use
### that

### So what we do is clean the data. 
countries_df = df.loc[df["continent"] != df["location"]]
countries_df.head()

countries_df = countries_df[["iso_code", "continent", "location", "date", "new_cases", "new_deaths", "reproduction_rate", "hosp_patients", "new_tests", "positive_rate", "new_vaccinations", "population", "median_age", "hospital_beds_per_thousand" ]]
countries_df.head()

,iso_code,continent,location,date,new_cases,new_deaths,reproduction_rate,hosp_patients,new_tests,positive_rate,new_vaccinations,population,median_age,hospital_beds_per_thousand
0,AFG,Asia,Afghanistan,2020-02-24,5.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0,18.6,0.5
1,AFG,Asia,Afghanistan,2020-02-25,0.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0,18.6,0.5
2,AFG,Asia,Afghanistan,2020-02-26,0.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0,18.6,0.5
3,AFG,Asia,Afghanistan,2020-02-27,0.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0,18.6,0.5
4,AFG,Asia,Afghanistan,2020-02-28,0.0,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0,18.6,0.5

In [27]:
### In order to clean this data, we didn't want to drop the null so we decided to replace it with zero instead.
countries_df.replace(np.nan, 0, inplace = True)
countries_df.head()

countries_df.to_csv("cleaned_data.csv", index = False)

In [20]:
asia_df = countries_df[countries_df["continent"] == "Asia"]
europe_df = countries_df[countries_df["continent"] == "Europe"]
na_df = countries_df[countries_df["continent"] == "North America"]
sa_df = countries_df[countries_df["continent"] == "South America"]
oceania_df = countries_df[countries_df["continent"] == "Oceania"]
africa_df = countries_df[countries_df["continent"] == "Africa"]