In [3]:
import pandas as pd
import numpy as np

In [7]:
url ="https://raw.githubusercontent.com/ajdelcarpiogom/FinalProject/main/cleaned_data_andrea.csv"

df = pd.read_csv(url,index_col=0,parse_dates=[0])

df.head(5)

,continent,location,date,new_cases,new_deaths,total_cases,total_deaths,reproduction_rate,hosp_patients,new_tests,positive_rate,new_vaccinations,population,median_age,hospital_beds_per_thousand
iso_code,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2020-02-24,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,39835428.0,18.6,0.5
AFG,Asia,Afghanistan,2020-02-25,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,39835428.0,18.6,0.5
AFG,Asia,Afghanistan,2020-02-26,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,39835428.0,18.6,0.5
AFG,Asia,Afghanistan,2020-02-27,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,39835428.0,18.6,0.5
AFG,Asia,Afghanistan,2020-02-28,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,39835428.0,18.6,0.5

In [32]:
df=df[df!=0].dropna()

df

,continent,location,date,new_cases,new_deaths,total_cases,total_deaths,reproduction_rate,hosp_patients,new_tests,positive_rate,new_vaccinations,population,median_age,hospital_beds_per_thousand
iso_code,,,,,,,,,,,,,,,
GBR,Europe,United Kingdom,2021-04-09,-4860.0,60.0,4369512.0,127126.0,0.80,2793.0,662313.0,0.0023,557014.0,68207114.0,40.8,2.54
GBR,Europe,United Kingdom,2021-05-18,-2364.0,7.0,4454451.0,127777.0,1.09,898.0,720751.0,0.0018,498101.0,68207114.0,40.8,2.54
CZE,Europe,Czechia,2021-03-22,-2214.0,143.0,1467333.0,24810.0,0.88,9037.0,281031.0,0.0490,37080.0,10724553.0,43.3,6.63
DNK,Europe,Denmark,2021-03-24,-2001.0,1.0,225030.0,2404.0,1.09,216.0,173667.0,0.0021,22860.0,5813302.0,42.3,2.50
IRL,Europe,Ireland,2021-09-15,-1176.0,24.0,367536.0,5179.0,0.92,292.0,30302.0,0.0379,12519.0,4982904.0,38.7,2.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA,North America,United States,2021-12-31,472515.0,583.0,54742382.0,825776.0,1.66,93746.0,1896919.0,0.2241,560455.0,332915074.0,38.3,2.77
USA,North America,United States,2021-12-29,497003.0,2197.0,53679320.0,823781.0,1.69,85516.0,2217326.0,0.1772,1547663.0,332915074.0,38.3,2.77
USA,North America,United States,2021-12-27,544328.0,1777.0,52827634.0,819289.0,1.66,74692.0,1636590.0,0.1403,1430094.0,332915074.0,38.3,2.77
USA,North America,United States,2021-12-30,590547.0,1412.0,54269867.0,825193.0,1.69,89930.0,2215077.0,0.2060,1403891.0,332915074.0,38.3,2.77
USA,North America,United States,2022-01-03,1171378.0,1688.0,56278376.0,827975.0,1.72,108742.0,1875209.0,0.2695,1124942.0,332915074.0,38.3,2.77

In [47]:
Sum_new_cases_per_countries = df.groupby(["location"]).sum()["new_cases"]
Mean_new_cases_per_countries = df.groupby(["location"]).mean()["new_cases"]
Sum_new_death_per_countries = df.groupby(["location"]).sum()["new_deaths"]
Mean_new_death_per_countries = df.groupby(["location"]).mean()["new_deaths"]

In [48]:
figures_by_countries = pd.DataFrame({
               "Sum_new_cases_per_countries": Sum_new_cases_per_countries,
               "Mean_new_cases_per_countries": Mean_new_cases_per_countries,
               "Sum_new_death_per_countries": Sum_new_death_per_countries,
               "Mean_new_death_per_countries": Mean_new_death_per_countries
               })
figures_by_countries

,Sum_new_cases_per_countries,Mean_new_cases_per_countries,Sum_new_death_per_countries,Mean_new_death_per_countries
location,,,,
Australia,178282.0,2025.931818,838.0,9.522727
Austria,863660.0,2750.509554,6038.0,19.229299
Belgium,1486676.0,4890.381579,9151.0,30.101974
Bulgaria,160552.0,1029.179487,8111.0,51.993590
Canada,1762708.0,4602.370757,16734.0,43.691906
Croatia,129097.0,1016.511811,2496.0,19.653543
Cyprus,19276.0,458.952381,105.0,2.500000
Czechia,1805312.0,5437.686747,25211.0,75.936747
Denmark,344153.0,1801.848168,711.0,3.722513
Estonia,203378.0,696.500000,1729.0,5.921233
Finland,17697.0,5899.000000,29.0,9.666667
France,8106733.0,21969.466125,61385.0,166.355014
Hungary,419078.0,3299.826772,16594.0,130.661417
Ireland,232689.0,1540.986755,3689.0,24.430464
Israel,982242.0,3168.522581,5173.0,16.687097
Italy,4348414.0,11689.284946,65861.0,177.045699
Japan,173877.0,4967.914286,1615.0,46.142857
Latvia,207673.0,718.591696,3372.0,11.667820
Lithuania,267862.0,981.179487,3948.0,14.461538
Luxembourg,32548.0,271.233333,298.0,2.483333
Malaysia,2475270.0,7908.210863,30467.0,97.338658
Malta,14856.0,124.840336,224.0,1.882353
Norway,176169.0,1276.586957,940.0,6.811594
Poland,1646481.0,7484.004545,40325.0,183.295455
Portugal,852101.0,3167.661710,11060.0,41.115242
Serbia,367887.0,3015.467213,3080.0,25.245902
Slovakia,1046275.0,3534.712838,14038.0,47.425676
Slovenia,339791.0,1078.701587,3005.0,9.539683
Switzerland,942359.0,3959.491597,3989.0,16.760504
United Kingdom,9696124.0,27467.773371,67030.0,189.886686
United States,39806283.0,103125.085492,524510.0,1358.834197

In [49]:
# sort Brand in an ascending order
figures_by_countries.sort_values(by=['Sum_new_death_per_countries'], inplace=True)
figures_by_countries.tail()

,Sum_new_cases_per_countries,Mean_new_cases_per_countries,Sum_new_death_per_countries,Mean_new_death_per_countries
location,,,,
Poland,1646481.0,7484.004545,40325.0,183.295455
France,8106733.0,21969.466125,61385.0,166.355014
Italy,4348414.0,11689.284946,65861.0,177.045699
United Kingdom,9696124.0,27467.773371,67030.0,189.886686
United States,39806283.0,103125.085492,524510.0,1358.834197